<header>
    <h1>Carro</h1>
</header>

<main>
    <section class="container-Cart-details">
        <h3>Detalles</h3>
        <ul>
            <li>ID: <b>{{data._id}}</b></li>
            <li>Observaciones: <b>{{data.observations}}</b></li>
            <li>Creado: <i>{{data.createdAt}}hs</i></li>
            <li>Actualizado: <i>{{data.updatedAt}}hs</i></li>
        </ul>
    </section>

    <section class="container-Cart-table">
        <h3>Productos</h3>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.Products}}
                    <tr>
                        <td>{{this.Product._id}}</td>
                        <td>{{this.Product.name}}</td>
                        <td>{{this.amount}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="container-Cart-table__buttons">
            <a href="/Products"><button title="Volver al inicio">↶</button></a>
        </div>
    </section>
</main>