<header>
    <h1>Producto</h1>
</header>

<main>
    <section class="container-product-details">
        <h3>Detalles</h3>
        <ul>
            <li>ID: <b>{{data._id}}</b></li>
            <li>Nombre: <b>{{data.name}}</b></li>
            <li>Descripción: <b>{{data.description}}</b></li>
            <li>Categoría: <b>{{data.category}}</b></li>
            <li>Disponible: <b>{{#if data.availability}}SI{{else}}NO{{/if}}</b></li>
            <li>
                Imagen:
                <img src="/public/images/{{data.thumbnail}}" alt="Imagen del producto">
            </li>
            <li>Creado: <i>{{data.createdAt}}hs</i></li>
            <li>Actualizado: <i>{{data.updatedAt}}hs</i></li>
        </ul>

        <div class="container-product-details__buttons">
            <button onclick="addProduct('{{data.currentCartId}}', '{{data._id}}')"
                title="Agregar en el carrito">✅</button>
            <button onclick="removeProduct('{{data.currentCartId}}', '{{data._id}}')"
                title="Quitar del carrito">❎</button>
            <a href="/products"><button title="Volver al inicio">↶</button></a>
        </div>
    </section>
</main>

<script src="/public/js/products_with_http.js"></script>